.container {
    max-width: 900px;
    margin: auto;
}

.row {
    display: flex;
}

.col-1 {
    width: 8.333333333333333%; /*100/12=8.33333*1;*/
}

.col-2 {
    width: 16.666666666666667%; /*100/12=8.33333*2;*/
}

.col-3 {
    width: 25%; /*100/12=8.33333*3;*/
}

.col-4 {
    width: 33.333333333333333%; /*100/12=8.33333*4;*/
}

.col-5 {
    width: 41.666666666666667%; /*100/12=8.33333*5;*/
}

.col-6 {
    width: 50%; /*100/12=8.33333*6;*/
}
.col-7 {
    width: 58.333333333333333%; /*100/12=8.33333*7;*/
}
.col-8 {
    width: 66.666666666666667%; /*100/12=8.33333*8;*/
}
.col-9 {
    width: 75%; /*100/12=8.33333*9;*/
}
.col-10 {
    width: 83.333333333333333%; /*100/12=8.33333*10;*/
}
.col-11 {
    width: 91.666666666666667%; /*100/12=8.33333*11;*/
}
.col-12 {
    width: 100%; /*100/12=8.33333*12;*/
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
    padding: 10px;
}

@media (max-width: 900px) {
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
        width: 100%;
    }
    .row {
        display: inherit;
    }
}